@import '~styles/variables';

.stock {
  .card {
    background-color: $container-background-color;
    font-family: Roboto, sans-serif;

    .stock-symbol {
      mat-chip {
        font-weight: bold;
      }
    }

    .data {
      p {
        text-align: center;
        margin: 5px 0;
      }

      .price {
        color: #38c442;
        font-weight: bold;
      }

      .last-update {
        color: rgba(255, 255, 255, 0.5);
        font-size: 12px;
      }
    }

    .edit-price {
      button {
        background-color: $container-background-color;
        box-shadow: none;
        color: rgba(255, 255, 255, 0.2);

        &:hover {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}
