@import '~styles/variables';

.layout {
  height: 100%;
}

.toolbar {
  margin-bottom: 10px;
  .btn-back {
    opacity: 0.6;
  }
}

form {
  width: 400px;
  max-width: 100vw;
  min-height: 240px;

  .form-fields-container {
    padding: 20px;
    background-color: $container-background-color;
    display: flex;
    flex-direction: column;

    .mat-form-field {
      margin-bottom: 24px;
    }
  }

  mat-form-field {
    width: 100%;
  }
}
