<div class="stock-create">
  <div class="layout" fxLayout="column" fxLayoutAlign="top center">
    <div>
      <form [formGroup]="form"
            (ngSubmit)="onSubmit()"
            autocomplete="off">
        <!-- Header -->
        <div class="page-header">
          <h2>Create a new stock</h2>
        </div>

        <div class="toolbar">
          <button mat-button
                  class="btn-back"
                  type="button"
                  (click)="goToStockList()">
            <mat-icon>keyboard_backspace</mat-icon>
            Back to list
          </button>
        </div>

        <div class="form-fields-container mat-elevation-z8">

          <!-- Name field -->
          <mat-form-field floatLabel="auto">
            <mat-label>Stock name</mat-label>
            <input matInput
                   type="text"
                   placeholder="Google"
                   formControlName="name"
                   maxlength="16">

            <mat-error *ngIf="name.errors">
              <p *ngIf="name.errors.required">This field is required</p>
              <p *ngIf="name.errors.backend">{{ name.errors.backend }}</p>
            </mat-error>
          </mat-form-field>

          <!-- Symbol field -->
          <mat-form-field floatLabel="auto">
            <mat-label>Unique symbol</mat-label>
            <input matInput
                   type="text"
                   placeholder="GOOGL"
                   formControlName="uniqueSymbol"
                   (input)="form.patchValue({ uniqueSymbol: $event.target.value.toUpperCase() })"
                   maxlength="5">

            <mat-error *ngIf="uniqueSymbol.errors ">
              <p *ngIf="uniqueSymbol.errors.required">This field is required</p>
              <p *ngIf="uniqueSymbol.errors.backend">{{ uniqueSymbol.errors.backend }}</p>
            </mat-error>
          </mat-form-field>

          <!-- Price field -->
          <mat-form-field>
            <mat-label>Price (&euro;)</mat-label>
            <input matInput
                   type="number"
                   placeholder="4.23"
                   formControlName="price">

            <mat-error *ngIf="price.errors">
              <p *ngIf="price.errors.required">This field is required</p>
              <p *ngIf="price.errors.backend">{{ price.errors.backend }}</p>
            </mat-error>
          </mat-form-field>

          <button mat-raised-button
                  color="primary"
                  *ngIf="form"
                  [disabled]="form.invalid">
            <mat-icon>done</mat-icon>
            Create
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
