.app-wrapper {
  min-height: 100%;
  width: 100vw;

  background: url('/assets/bg-trendline.svg') #252525;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}
