@import "~styles/variables";

.stock-list {
  .layout {
    height: 100vh;
  }

  .tile-title {
    ::ng-deep figure {
      justify-content: flex-start;
    }
  }

  mat-table {
    background-color: $container-background-color;
    border-radius: $container-border-radius;
    width: 600px;
    overflow: auto;
    max-height: 80%;
  }

  .btn-add {
    position: absolute;
    bottom: 50px;
    right: 50px;
  }
}
