@import '~styles/variables';

.stock-list {
  .layout {
    height: 100%;
  }

  .page-header {
    h1 {
      display: inline-block;
      margin: 20px 5px;

      &:last-child {
        color: #c2185b;
      }
    }
  }

  .toolbar {
    height: 32px;

    .slider-refresh {
      float: right;
    }
  }

  .btn-add {
    position: absolute;
    bottom: 25px;
    right: 25px;
  }
}
