.stocks-list {
  .layout {
    height: 100vh;
  }

  .tile-title {
    color: #fff;

    ::ng-deep figure {
      justify-content: flex-start;
    }
  }

  mat-table {
    width: 600px;
    overflow: auto;
    max-height: 80%;
  }

  .btn-add {
    position: absolute;
    bottom: 50px;
    right: 50px;
  }
}
